@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');


/*Esto es para márgenes por defecto mi amor*/

*{
    margin: 0;
    padding: 0;
}

/*Esto es para el cuerpo de la sorpresa mi amor*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }

  /*Esto es para el contenedor donde va la carta mi amor*/
  
  .contenedor {
    position: relative;
  }

  /*Esto es para la carta mi amor*/

  .carta {
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
  }

  /*esto es para la parte de atrás del sobre*/
  .sobre {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #80daf0; 
  }

  /*Esto es para la punta del sobre, para sellarlo*/
  
  .sobre:before {
    background-color: #80daf0; 
    content: "";
    position: absolute;
    width: 212px;
    height: 212px;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;
  }

  /*Esto es para la carta o la hoja*/
  
  .tarjeta {
    position: absolute;
    background-color: #ffffff;
    width: 270px;
    height: 170px;
    top: 5px;
    left: 15px;
    box-shadow: -5px -5px 100px rgba(0,0,0,0.4); 
  }
  
  /*Esto es para el márgen que tiene la hoja*/

  .tarjeta:before {
    content:"";
    position: absolute;
    border:3px solid #003049;
    border-style: dotted;
    width: 240px;
    heighT: 140px;
    left: 12px;
    top: 12px;
  }

  /*Esto es para el texto de la carta*/
  
  .texto {
    position: absolute;
    font-family: 'Style Script', cursive;
    font-size: 39px;
    text-align: center;
    line-height: 25px;
    top: 35px;
    left: 18px;
    color: #003049;
  }

  /*Esto es para el corazón de la carta*/
  
  .corazon {
    background-color: #d62828;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 120px;
    left: 105px;
    transform: rotate(-45deg);
    width: 30px;
  }
  
  .corazon:before,
  .corazon:after {
    content: "";
    background-color: #d62828;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }
  
  .corazon:before {
    top: -15px;
    left: 0;
  }
  
  .corazon:after {
    left: 15px;
    top: 0;
  }

  /*Esto es para las partes de enfrente de la carta*/

  .partes {
    position: absolute;
    border-right: 180px solid #38acbb;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 1px;
    width: 0;
    height: 0;
    z-index: 10;
  }
  
  .partes::before {
    position: absolute;
    content: "";
    border-left: 300px solid #9df8e4;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
    width: 0;
    height: 0;
  }

  /*Esto es para la sombra de la carta mi amor*/

  .sombra {
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius:50%;
    background-color: rgba(255, 255, 255, 0.3);
    top: 599px;
    left: 35px;
    animation: scale 3s linear infinite;
    z-index: -1;
  }


  /*Esto es para la animación de los corazones pequeños mi amor*/


  @keyframes up {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

  @keyframes scale {
    0%, 100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0.85);
    }
  }

  /*Esto es para los corazones que salen de la carta mi amor*/

  .corazones {
    position: absolute  
  }
  
  .uno, .dos, .tres, .cuatro, .cinco {
    background-color: red;
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    position: relative;
    transform: rotate(-45deg);
    width: 10px;
    top: -120px;
  }
  
  .uno:before,
  .uno:after, .dos:before, .dos:after, .tres:before, .tres:after, .cuatro:before, .cuatro:after, .cinco:before, .cinco:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
  }
  
  .uno:before, .dos:before, .tres:before, .cuatro:before, .cinco:before {
    top: -5px;
    left: 0;
  }
  
  .uno:after, .dos:after, .tres:after, .cuatro:after, .cinco:after {
    left: 5px;
    top: 0;
  }
    
  .uno {
    left:10px;
    animation: corazones 1s ease-out infinite; 
  }
  
  .dos {
    left:30px;
    animation: corazones 2s ease-out infinite; 
  }
  
  .tres {
    left:50px;
    animation: corazones 1.5s ease-out infinite;
  }
  
  .cuatro {
    left:70px;
    animation: corazones 2.3s ease-out infinite;
  }
  
  .cinco {
    left:90px;
    animation: corazones 1.7s ease-out infinite;
  }

  /*Esto es para los efectos que tienen los corazones pequeños mi amor*/
  
  @keyframes corazones {
    0%{
      transform: translateY(0) rotate(-45deg) scale(0.3);
      opacity: 1;
    }
    100%{
      transform: translateY(-150px) rotate(-45deg) scale(1.3);
      opacity: 0.5;
    }
  }


  /*Esto es para estilos del botón mi amor*/

  button {
    display: flex;
    line-height: 1.2;
    text-decoration: none;
    color: #42beae;
    font-size: 19px;
    border-radius: 0px;
    width: 220px;
    height: 50px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
    background-color: #ffffff;
    margin-top: -290px;
    left: 108px;
    position: absolute;
  }

  /*Esto es para el efecto que tiene el botón cuando lo presionas*/
  
  button:hover {
    box-shadow: 0 0 #ffffff;
    color: #000000;
    background-color: #ffffff63;
  }

  /*Esto es para el trébol de la suerte mi amor*/
  
  .trébol {
    position: absolute;
    width: 100px;
    margin-top: -320px;
    left: 10px;
    -webkit-box-reflect: below 15px linear-gradient(transparent, transparent, rgba(255, 255, 255, 0.384));
  }